<div class="jumbotron">
    <h1 class="display-4">Introduction</h1>
    <p class="lead">Angular Component Loader is a sample code and a website that demonstrate on how to load a child
        component in runtime.</p>
    <hr class="my-4">
    <p>Codes is available in GitHub</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/marcsalvador/component-loader" role="button"><i class="fab fa-github"></i>&nbsp;GitHub</a>&nbsp;
    <a class="btn btn-primary btn-lg" href="https://github.com/marcsalvador/component-loader/archive/master.zip" role="button"><i class="fas fa-download"></i>&nbsp;Download</a>
</div>