<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">Angular Component Loader</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/marcsalvador/angular-component-loader" tooltip="Visit GitHub Repositiry"
            placement="bottom">
            <i class="fab fa-github"></i>&nbsp;<span class="d-sm-none d-md-none d-lg-none">Visit GitHub
              Repository</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/marcsalvador/angular-component-loader/archive/master.zip"
            tooltip="Download Code" placement="bottom">
            <i class="fas fa-download"></i>&nbsp;<span class="d-sm-none d-md-none d-lg-none">Download Code</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

</header>

<section class="container-fluid">
  <br>
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pointer" (click)="loadIntroduction()">Introduction</li>
        <li class="list-group-item pointer" (click)="loadHtmlView()">1. &lt;ng-template&gt; element</li>
        <li class="list-group-item pointer" (click)="loadImport()">2. Imports</li>
        <li class="list-group-item pointer" (click)="loadConstructor()">3. Dependency Injection</li>
        <li class="list-group-item pointer" (click)="loadDomDeclaration()">4. &lt;ng-template&gt; Declaration</li>
        <li class="list-group-item pointer" (click)="loadCreateChild()">5. Create Child Component</li>
        <li class="list-group-item pointer" (click)="loadFunctionLoader()">6. Component Loader Function</li>
        <li class="list-group-item pointer" (click)="loadCallLoader()">7. Call the Loader Function</li>
      </ul>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
      <ng-template #container></ng-template>
    </div>
  </div>
</section>